<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\Ashraf\Python\venv\Scripts\python.exe|F:\Ashraf\Python\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
        <httpErrors errorMode="Detailed" />
   
  </system.webServer>
</configuration>
